* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x : hidden;
}

nav {
  background-color: #242424;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  flex-direction: column;
}

.navbar .top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 0;
  padding-right: 2rem;
  padding-left: 2rem;
}

.navbar .top-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.navbar .bottom-section {
  display: flex;
  margin-top: 2rem;
  background-color: #e9e9e9;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
}

.navbar .bottom-section a {
  color: #242424;
  text-decoration: none;
  padding-left: 5rem;
  font-weight: 700;
  font-size: 15px;
  transition: color 0.3s ease;
}

.navbar .bottom-section a:hover {
  color: gray;
}

.navbar .bottom-section p {
  color: #242424;
  text-decoration: none;
  padding-right: 5rem;
  font-weight: 700;
  font-size: 15px;
}

nav .logo img {
  height: 55px;
  padding-left: 5rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.search input[type="text"] {
  padding: 0.5em;
  border: none;
  border-radius: 0.3em;
  margin-right: 0.5em;
  width: 724px;
  height: 1.3rem;
  transition: box-shadow 0.3s ease, border 0.3s ease, transform 0.3s ease;
}

.search input[type="text"]:focus {
  box-shadow: 0px 0px 15px 5px rgba(64, 64, 64, 0.7);
  border: 1px solid #333333;
  outline: none;
  transform: scale(1.01);
}

.search button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.3em;
  background-color: gray;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
  height: 2.2rem;
}

.search button:hover {
  transition: background-color 1s ease;
  background-color: #333333;
}

.nav-kiri {
  display: flex;
  gap: 35px;
  padding-right: 5rem;
}

.nav-kiri i {
  color: #fff;
  font-size: 24px;
}

.hero {
  margin-top: 14.3rem;
  margin-bottom: 0rem;
  margin-right: 3rem;
  margin-left: 3rem;
  overflow: hidden;
  display: flex;
}

.slides {
  display: flex;
  width: 100%;
  height: 60vh;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.box {
  padding: 5rem 3rem;
  margin-bottom: 22.7%;
}

.box-left {
  width: 500px;
  background-color: #e9e9e9;
  float: left;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
  border-radius: 10px;
}

.box-left img {
  float: right;
  width: 211px;
  height: 211px;
}

.box-left h1 {
  margin-top: 3rem;
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: bold;
}

.box-left p {
  font-size: 15px;
  margin-bottom: 25px;
}

.box-right {
  width: 500px;
  background-color: #e9e9e9;
  float: right;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
  border-radius: 10px;
}

.box-right img {
  float: right;
  width: 211px;
  height: 211px;
}

.box-right h1 {
  margin-top: 3rem;
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: bold;
}

.box-right p {
  font-size: 15px;
  margin-bottom: 25px;
}

.prd {
  padding: 0 3%;
}

.prd h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 1000;
  padding-bottom: 40px;
}

.prd .isi-produk {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.prd .isi-produk .pro-container {
  background-color: #e9e9e9;
  border-radius: 0.3em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 23.5%;
  height: auto;
  padding-bottom: 2rem;
}

.prd .isi-produk .pro-container .pro img {
  width: 100%;
  height: 100%;
}

.prd .isi-produk .pro-container .pro {
  /* margin: 0 sauto; */
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.prd .isi-produk .deskripsi {
  padding: 0 1rem;
}

.prd .isi-produk .deskripsi span {
  padding: 2px;
}

.prd .isi-produk .deskripsi h5 {
  font-size: 25px;
  padding: 1px;
}

.prd .isi-produk .deskripsi h4 {
  padding: 1px;
  padding-bottom: 20px;
}

.prd .isi-produk .deskripsi a {
  background-color: #242424;
  color: #fff;
  padding: 8px 95px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 14px;
  text-align: center;
}

.prd .isi-produk .deskripsi a:hover {
  background-color: gray;
  transition: background-color 0.3s ease;
}

#footer {
  background-color: #242424;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}

#footer h1 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.foot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-container ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.foot-container ul li {
  display: inline-block;
  margin: 0 15px;
}

.foot-container ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.foot-container ul li a:hover {
  color: gray;
}

.foot-container p {
  margin-top: 10px;
  font-size: 12px;
  border-top: 1px solid #fff;
  padding: 15px;
}

#discount {
  background-color: #f0f0f0;
  padding-bottom: 2rem;
  padding-top: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  min-height: 200px;
  margin-bottom: 5rem;
  justify-content: center;
  margin-top: 22.5rem;
}

#discount .disc-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

#discount .gambar {
  flex: 1;
}

#discount .gambar img {
  width: 100%;
  max-width: 350px;
  height: auto;
  padding-left: 50px;
}

#discount .disc-des {
  flex: 1;
  text-align: left;
  padding: 10px;
}

#discount .disc-des h1 {
  font-size: 98px;
  font-weight: 1000;
  color: #242424;
  margin: 0;
}

#discount .disc-des h3 {
  font-size: 35px;
  color: #242424;
  margin: 0.5rem 0;
}

#discount .disc-des .beli-sekarang {
  display: block;
  background-color: #242424;
  color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 1rem;
  max-width: fit-content;
  margin-left: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#discount .disc-des .beli-sekarang:hover {
  background-color: gray;
  transition: background-color 0.3s ease;
}

#service {
  background-color: #e9e9e9;
  padding: 3rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

#service .ser-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#service img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1280px) {
  .search input[type="text"] {
    width: 724px;
  }

  .hero {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 14.3rem;
  }

  .hero .hero-right {
    width: 50%;
    overflow: hidden;
    position: relative;
  }

  .slides {
    display: flex;
    transition: transform 1s ease;
    width: 100%;
  }

  .hero .hero-right img {
    width: 100%;
    height: auto;
  }

  .hero .hero-left h1 {
    font-size: 54px;
  }

  .hero .hero-left p {
    font-size: 13px;
  }

  .box {
    display: flex;
    align-items: center;
    padding: 5rem 2rem;
    gap: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
  }

  .box-left {
    flex: 1;
    background-color: #e9e9e9;
    padding: 5%;
    border-radius: 10px;
    text-align: left;
  }

  .box-left img {
    float: right;
    width: 211px;
    height: 211px;
    margin: 0;
  }

  .box-left h1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 15px;
  }

  .box-left p {
    font-size: 15px;
    font-weight: light;
  }

  .box-right {
    flex: 1;
    background-color: #e9e9e9;
    padding: 5%;
    border-radius: 10px;
    text-align: left;
  }

  .box-right img {
    float: right;
    width: 211px;
    height: 211px;
    margin: 0;
  }

  .box-right h1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 15px;
  }

  .box-right p {
    font-size: 15px;
    font-weight: light;
  }

  .prd .pro-container {
    gap: 20px;
  }

  .prd .pro {
    width: 16.7rem;
  }

  .prd .isi-produk .deskripsi a {
    background-color: #242424;
    color: #fff;
    padding: 8px 69px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 14px;
    text-align: center;
  }

  #discount {
    padding: 2rem 1rem;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: row;
  }

  #discount .disc-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
  }

  #discount .gambar {
    flex: 1;
    text-align: left;
  }

  #discount .gambar img {
    max-width: 250px;
    width: 100%;
    padding-left: 150px;
  }

  #discount .disc-des {
    flex: 2;
    padding: 1rem;
    text-align: left;
    margin-left: 19rem;
  }

  #discount .disc-des h1 {
    font-size: 72px;
  }

  #discount .disc-des h3 {
    font-size: 28px;
  }

  #discount .disc-des a {
    display: inline-block;
    background-color: #242424;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  #discount .disc-des a:hover {
    background-color: gray;
    transition: background-color 0.3s ease;
  }

  #service {
    padding: 3rem 0;
    height: 50px;
  }
}

.tombol-box {
  background-color: #242424;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 14px;
  text-align: center;
}

.tombol-box:hover {
  background-color: gray;
  transition: background-color 0.3s ease;
}

.all-prduk {
  margin-top: 13rem;
  margin-bottom: 7.8rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.all-prduk .isi-produk {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.all-prduk .isi-produk .pro-container {
  background-color: #e9e9e9;
  border-radius: 0.3em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 23.5%;
  height: auto;
  padding-bottom: 2rem;
}

.all-prduk .isi-produk .pro-container .pro img {
  width: 100%;
  height: 100%;
}

.all-prduk .isi-produk .pro-container .pro {
  /* margin: 0 sauto; */
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.all-prduk .isi-produk .deskripsi {
  padding: 0 1rem;
}

.all-prduk .isi-produk .deskripsi span {
  padding: 2px;
}

.all-prduk .isi-produk .deskripsi h5 {
  font-size: 25px;
  padding: 1px;
}

.all-prduk .isi-produk .deskripsi h4 {
  padding: 1px;
  padding-bottom: 20px;
}

.all-prduk .isi-produk .deskripsi a {
  background-color: #242424;
  color: #fff;
  padding: 8px 106px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 14px;
  text-align: center;
}

.all-prduk .isi-produk .deskripsi a:hover {
  background-color: gray;
  transition: background-color 0.3s ease;
}

#footer-prd {
  background-color: #242424;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 0;
}

#footer-prd h1 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.foot ul li {
  display: inline-block;
  margin: 0 15px;
}

.foot ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.foot ul li a:hover {
  color: gray;
}

.foot p {
  margin-top: 10px;
  font-size: 12px;
  border-top: 1px solid #fff;
  padding: 15px;
}