* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav {
  background-color: #242424;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  flex-direction: column;
}

.navbar .top-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

nav .logo img {
  height: 40px;
  padding-left: 5rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.search input[type="text"] {
  padding: 0.5em;
  border: none;
  border-radius: 0.3em;
  margin-right: 0.5em;
  width: 724px;
  height: 1rem;
  transition: box-shadow 0.3s ease, border 0.3s ease, transform 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.search input[type="text"]:focus {
  box-shadow: 0px 0px 15px 5px rgba(64, 64, 64, 0.7);
  border: 1px solid #333333;
  outline: none;
  transform: scale(1.01);
}

.search button {
  padding: 0.5em 0.9em;
  border: none;
  border-radius: 0.3em;
  background-color: gray;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
  height: 2rem;
}

.search button:hover {
  transition: background-color 1s ease;
  background-color: #333333;
}

.nav-kiri {
  display: flex;
  gap: 35px;
  padding-right: 5rem;
}

.nav-kiri i {
  color: #fff;
  font-size: 24px;
}

.swiper {
  width: 35%;
  height: 100%;
  padding-right: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.container2 {
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
  padding-left: 3rem;
  align-items: center;
  margin-top: 7rem;
  height: 75vh;
}

.container2 .foto {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}

.container2 .foto .fotoDetail {
  width: 75%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2%;
  margin-top: 10px;
  /* border: 1px solid black; */
}

.container2 .foto img {
  width: 75%;
  height: 100%;
}

.container2 .foto .fotoDetail img {
  width: 23.5%;
  height: auto;
}

.container2 .deskripsi {
  width: 55%;
  border-left: 2px solid black;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-left: 3rem;
  flex-direction: column;
  /* border: 1px solid black; */
}

.container2 .deskripsi .quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  border: 2px solid black;
  padding: 0.3rem 0.7rem;
  border-radius: 0.7rem;
  margin-bottom: 2rem;
}

.container2 .deskripsi .quantity h1 {
  font-size: 20px;
}

.container2 .deskripsi form button {
  border: none;
  cursor: pointer;
  height: auto;
  background-color: #242424;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 0.6rem;
  font-size: 16px;
}

.container2 .deskripsi .quantity button {
  width: 20px;
  height: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container2 .deskripsi .judulBarang h1 {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
}

.container2 .deskripsi .judulBarang h2 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(84, 84, 84);
  padding-bottom: 0.5rem;
}

.container2 .deskripsi .deskripsiBarang {
  padding-right: 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 1rem;
}

.container2 .deskripsi .button a {
  background-color: #242424;
  color: #fff;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 0.3em;
  font-weight: bold;
}

#produk {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 3rem;
  padding-top: 8rem;
}

#produk h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  padding-bottom: 40px;
  font-weight: 1000;
}

#produk .pro-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

#produk .pro {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  gap: 10px;
  padding: 1.5rem 1.5rem;
  margin: 1rem;
  border-radius: 0.3em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 20%;
  /* border: 1px solid black; */
}

#produk .pro .deskripsi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
}

#produk .pro .deskripsi .harga {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#produk .pro .deskripsi h5 {
  font-size: 25px;
  padding: 1px;
}

#produk .pro .deskripsi h4 {
  padding: 1px;
}

#produk .pro .deskripsi span {
  padding: 2px;
}

#produk .pro img {
  width: 100%;
  height: 100%;
}

#produk .pro .beli {
  background-color: #242424;
  color: #fff;
  padding: 10px 60px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

#footer {
  background-color: #242424;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}

#footer h1 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.foot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-container ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.foot-container ul li {
  display: inline-block;
  margin: 0 15px;
}

.foot-container ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.foot-container ul li a:hover {
  color: gray;
}

.foot-container p {
  margin-top: 10px;
  font-size: 12px;
  border-top: 1px solid #fff;
  padding: 15px;
}

/* My Account */

.hero2 {
  margin-top: 4.5rem;
  background-image: url(asset/img/bgAccount.png);
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38vh;
  color: white;
  flex-direction: column;
}

.hero2 h1 {
  color: white;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 5px;
}

.hero2 .tombol a {
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  width: 70%;
  margin: -2rem auto;
  height: 65vh;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.main .fotoUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ededed;
  width: 25%;
  padding: 0.5rem 1rem;
  height: 100%;
  box-sizing: border-box;
}

.main .fotoUser h1 {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 24px;
}

.main .fotoUser button {
  background-color: #242424;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.main .fotoUser img {
  width: 100%;
  height: auto;
}

.main .dataUser {
  background-color: #ededed;
  width: 75%;
  padding: 1.5rem;
  height: 100%;
  box-sizing: border-box;
}

.main .dataUser .bio h1 {
  font-size: 20px;
  padding-bottom: 1rem;
}

.main .dataUser .kontak h1 {
  font-size: 20px;
  padding: 1rem 0;
}

.main .dataUser .bio .containerBio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}

.main .dataUser .bio .containerBio .judulBio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main .dataUser .bio .containerBio .judulBio h2 {
  font-size: 16px;
  font-weight: 400;
}

.main .dataUser .bio .containerBio .deskripsiBio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 40%;
}

.main .dataUser .bio .containerBio .deskripsiBio h2 {
  font-size: 16px;
  font-weight: 400;
}

.main .dataUser .bio .containerBio .deskripsiBio a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: blue;
}

.main .dataUser .kontak .containerKontak {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.main .dataUser .kontak .containerKontak .judulKontak {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main .dataUser .kontak .containerKontak .judulKontak h2 {
  font-size: 16px;
  font-weight: 400;
}

.main .dataUser .kontak .containerKontak .deskripsiKontak {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 40%;
}

.main .dataUser .kontak .containerKontak .deskripsiKontak h2 {
  font-size: 16px;
  font-weight: 400;
}

.main .dataUser .kontak .containerKontak .deskripsiKontak a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: blue;
}

.back {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 1rem 5rem;
}

.back a {
  text-decoration: none;
  color: blue;
  font-weight: 400;
}

.back i {
  color: blue;
}
